<div id="presentations">
    <% @upcoming.each_with_index do |p, i| %>
        <% button_text = p.in_progress ? 'Stop' : 'Start' %>
        <% classes = p.in_progress ? 'trigger' : 'trigger start' %>
        <article class="upcoming" id="<%= p.id %>">
            <p class="topic">
                <a href="<%= p.link %>"><%= p.topic %></a>
                <% if i == 0 %>
                    <button class="<%= classes %>"><%= button_text %></button>
                    <p class="countdownString" end-time="<%= p.finish_at %>"></p>
                <% else %>
                    <a href="#" class="icon icon-circle-arrow-up"></a>
                <% end %>
            </p>
            <p class="meta"><%= p.presenter %></p>
            <p class="meta">
                Created: <%= p.created_at %>
            </p>
        </article>
    <% end %>

    <div id="completed">
        <%= yield %>
    </div>
</div>
