<% @completed.each_with_index do |p, i| %>
	<article class="complete" id="<%= p.id %>">
		<p class="topic">
			<a href="<%= p.link %>"><%= p.topic %></a>
			<a href="/edit/<%= p.id %>" class="icon icon-pencil"></a>
		</p>
		<p class="meta"><%= p.presenter %></p>
		<p class="meta">
			Created: <%= p.created_at %>
		</p>
	</article>
<% end %>
