<% @presentations.each_with_index do |p, i| %>
	<% button_text = p.in_progress ? 'End' : 'Start' %>
	<% classes = p.in_progress ? 'trigger' : 'trigger start' %>
	<article<%= ' class="complete"' if p.complete%>>
		<p class="topic">
			<a href="http://<%= p.link %>/"><%= p.topic %></a>
			<% if @title.eql?('Admin') %>
				<% case i
					 when 0 %>
					<button class="<%= classes %>"><%= button_text %></button>
					<p class="countdownString" end-time="<%= p.finish_at %>"></p>
				<% else %>
				<!-- This should trigger page reload, no ajax -->
					<span>Up</span>
				<% end %>
			<% else %>
				<span><a href="/<%= p.id %>">[edit]</a></span>
			<% end %>
		</p>
		<p class="meta"><%= p.presenter %></p>
		<p class="meta">
			Created: <%= p.created_at %>
		</p>
	</article>
<% end %>

<script type="text/javascript" src="/js/timer.js"></script>
