<% @upcoming.each_with_index do |p, i| %>
	<article class="upcoming" id="<%= p.id %>">
		<p class="topic">
			<a href="http://<%= p.link %>/"><%= p.topic %></a>
			<span><a href="/<%= p.id %>">[edit]</a></span>
			<% if i == 0 %>
				<p class="countdownString" end-time="<%= p.finish_at %>"></p>
			<% end %>
		</p>
		<p class="meta"><%= p.presenter %></p>
		<p class="meta">
			Created: <%= p.created_at %>
		</p>
	</article>
<% end %>

<div id="completed">
    <%= yield %>
</div>
