<% @presentations.each do |p| %>
	<article <%= 'class="complete"' if p.complete%>>
		<p class="topic">
			<a href="http://<%= p.link %>/"><%= p.topic %></a>
			<!--<span><a href="/<%= p.id %>">[edit]</a></span>-->
		</p>
		<p class="meta"><%= p.presenter %></p>
		<p class="meta">
			Created: <%= p.created_at %>
		</p>
	</article>
<% end %>
